<h1>Modifica Notizia o Evento</h1>


<%= form_for :news, url: "/admin/news/" + @news.id.to_s, method: :put do |f| %>
    <% if @news.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@news.errors.count, "error") %> prohibited
            this post from being saved:</h2>
          <ul>
            <% @news.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :Titolo %><br>
      <%= f.text_field :title,  :class=>'input-block-level' %>
    </p>

    <p>
      <%= f.label :Testo %><br>
      <%= f.text_area :text, :style=>'width:100%' %>
    </p>

    <p>
      <%= f.submit  'Salva', :class => 'btn btn-primary' %>
      <%= link_to 'Indietro', '/admin/news', :class => 'btn' %>
    </p>
<% end %>
<%= link_to 'Indietro', '/admin/news' %>