<script type="text/javascript">

    jQuery(function($){
        $('.prodotti .container').css("background-image",'none');
        $.supersized({
            autoplay				:	0,
            fit_portrait         	:   0,
            fit_landscape			:   1,
            thumbnail_navigation    :   0,
            slides 					:  	[
                    <% @immagini.each_with_index do |img,index| %>
                            {image : '/data/prodotti/<%= img.image_url.html_safe %>'}<% if (index != @immagini.size - 1) %>,<% end %>
                <% end %>
            ]

        });
    });

</script>

<% # nascondo le frecce nel caso ci sia una sola foto
   if @immagini.length > 1 %>
<div class="navigazione-block">
  <div class="destra">
    <img src="/assets/supersized/destra.png">
  </div>
  <div class="sinistra">
    <img src="/assets/supersized/sinistra.png">
  </div>
</div>
<% end %>
<div class="product-info">
  <h2><%= @prodotto.name %> <span class="des-detail">design by <a href="/designers#<%= @designer.id %>"><%= @designer.name %></a></span>
    <span class="orientation">
      [<% if(!@precedente.blank?) %>
      <a href="/product/<%= @precedente[0].id %>">prodotto precedente</a> |
      <% end %>
      <a href="/product#<%= @prodotto.categoria_id %>">elenco</a>
      <% if(!@successivo.blank?) %>
       | <a href="/product/<%= @successivo[0].id %>">prodotto successivo</a>
          <% end %>    ]
    </span>
  </h2>
     <p><%= nl2br(@prodotto.description).html_safe %></p>

</div>