<h1>Modifica Prodotto</h1>
<br>
<%= form_for :product, url: "/admin/products/" + @product.id.to_s, method: :put do |f| %>
    <div class="row">
      <div class="span4">
          <%= f.label :Nome %>
          <%= f.text_field :name,  :class=>'input-block-level' %>

      </div>
      <div class="span3">
          <%= f.label :Categoria %>
          <%= select_tag(:categoria_id, options_from_collection_for_select(Categoria.all, :id, :name)) %>
          </p>
      </div>
      <div class="span3">
          <%= f.label :Designer %>
          <%= select_tag(:designer_id, options_from_collection_for_select(Designer.all, :id, :name)) %>
      </div>
      <div class="span2">
        <%= f.label :'In Evidenza' %>
        <%= check_box_tag 'featured' %>

      </div>
    </div>



    <p>
      <%= f.label :Descrizione %>
      <%= f.text_area :description, :style=>'width:100%' %>
    </p>

    <p>
      <%= f.submit  'Salva', :class => 'btn btn-primary' %>
      <%= link_to 'Indietro', '/admin/products', :class => 'btn' %>
    </p>
<% end %>
<%= link_to 'Indietro', '/admin/products' %>
<script>
    $(function() {
        $('select[name=designer_id]').val(<%= @product.designer_id %>)
        $('select[name=categoria_id]').val(<%= @product.categoria_id %>)
        if(<%= @product.featured %> == true ) {
            $('input[type=checkbox]').attr('checked', true);
        }
    });
</script>