
<h1>Nuovo Prodotto</h1>

<%= form_for :product, url: '/admin/products' do |f| %>
    <div class="row">
      <div class="span5">
        <p>
          <%= f.label :Nome %>
          <%= f.text_field :name,  :class=>'input-block-level' %>
        </p>

      </div>

      <div class="span3">
        <%= f.label :Categoria %>
        <%= select_tag(:categoria_id, options_from_collection_for_select(Categoria.all, :id, :name)) %>
        </p>
      </div>
      <div class="span3">
        <%= f.label :Designer %>
        <%= select_tag(:designer_id, options_from_collection_for_select(Designer.all, :id, :name)) %>
      </div>
      <div class="span2">
        <%= f.label :'In Evidenza' %>
        <%= check_box_tag 'featured' %>

      </div>
    </div>

    <p>
      <%= f.label :Descrizione %><br>
      <%= f.text_area :description, :style=>'width:100%' %>
    </p>

      <%= f.submit  'Salva', :class => 'btn btn-primary' %>
      <%= link_to 'Indietro', '/admin/products', :class => 'btn' %>
    </p>
<% end %>

