<!DOCTYPE html>
<html>
<head>
  <title>Belvedere Design</title>
  <%= stylesheet_link_tag  "normalize", "main"   %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "supersized" %>

  <%= csrf_meta_tags %>
</head>
<body class="<%= @classecorpo %>">
      <header>
        <h1 class="logo"><a href="/"><img src="<%= asset_path 'logo.png' %>"></a></h1>
        <nav>
          <ul>
            <li><a href="/">Get Inspired</a></li>
            <li><a href="/product">Prodotti</a></li>
            <li><a href="/designers">Designers</a></li>
            <li><a href="/showroom">Showroom</a></li>
            <li><a href="/l-azienda">L'Azienda</a></li>
            <li><a href="/servizi">Servizi</a></li>
            <li><a href="/partners">Partners</a></li>
            <li><a href="/news_events">News&Eventi</a></li>
          </ul>
        </nav>
      </header>
       <div class="container">
         <img src="<%= asset_path 'loader.gif' %>" id="loader">
         <%= yield %>
       </div>

          <footer>
            <p>(c) 2013 Belvedere Design | Via Marsala 3, 20121 Milano (MI) Italia | T +39 023456432 F +39 025462348 <a href="mailto:customer.service@belvedere.it">customer.service@belvedere.it</a> | p.iva 00154567345 | <a href="#">privacy</a> | <a href="/contatti">contatti</a></p>
          </footer>
<% if(@attivo)    %>
<script>
    $(function() {
        $('header nav ul li:nth-child(<%= @attivo %>)').css('text-decoration','underline')
    });
<% end %>
</script>
</body>
</html>
