<!DOCTYPE html>
<html>
<head>
  <title>Belvederedesign</title>
  <%= stylesheet_link_tag  "normalize", "main"   %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
      <header>
        <h1 class="logo"><a href="/"><img src="<%= asset_path 'logo.png' %>"></a></h1>
        <nav>
          <ul>
            <li><a href="/get-inspired">Get Inspired</a></li>
            <li><a href="/prodotti">Prodotti</a></li>
            <li><a href="/designers">Designers</a></li>
            <li><a href="/showroom">Showroom</a></li>
            <li><a href="/l-azienda">L'Azienda</a></li>
            <li><a href="/servizi">Servizi</a></li>
            <li><a href="/partners">Partners</a></li>
            <li><a href="/news_events">News&Eventi</a></li>
          </ul>
        </nav>
      </header>
       <div class="container">
         <%= yield %>
       </div>

          <footer>
            <p>(c) 2013 Belvedere Design | Via Marsala 3, 20121 Milano (MI) Italia | T +39 023456432 F +39 025462348 customer.service@belvedere.it | p.iva 00154567345 | <a href="#">privacy</a> | <a href="#">contatti</a></p>
          </footer>
</body>
</html>
